@import 'assets/fonts/font.scss';
@import 'styles/variables';

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Prompt', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

.title {
  font-size: 14px;
  line-height: 20px;
  color: $grey-20;
}

.item {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: $grey-60;
}

.suggestion-box {
  position: absolute;
  z-index: 1200;
  box-shadow: 0 12px 24px #0000003b;
  top: 146px;
  width: 870px;
}

.form-control:focus {
  border-color: $yellow;
  border: 2px solid $yellow;
}

.input-group {
  position: relative;

  .search-icon {
    position: absolute;
    padding: 10px;
    right: 3px;
    z-index: 3;
  }
}

.todo-container {
  background-color: #80808040;
  min-height: calc(100vh - 60px);
}
